{% include 'head.html' {
  page: "index"
}%}
<div class="header-fixed"><p><a href="index.html">Home</a> / <a href="bic.html">Billions in Change</a></div>
  <div class="blogcontainer">
  <div class="blogtitle">Billions in Change</div>
  <div class="blogsubtitle">10 May 2016</div>
  <div class="blogtxt">
      <div class="blogtitle2">What is Billions in Change?</div>
<p>Billions in Change is a movement to save the world by developing and implementing solutions to the most pressing global problems in the areas of water, energy and healthcare. Doing so will raise billions of people out of poverty and improve the lives of everyone – rich and poor.

  <div class="blogtitle2">Android app</div>
  <p>Since the app was piloting in India, where Android has a large market share, I designed the app to be Android-first. The design followed the material design guidelines and incorporated elements from the BIC branding, which had already been designed by another agency.
</p><center><img src="/assets/img/bic-android.png"></center>
<p><div class="invbtn"><a href="https://invis.io/5E8263062">view Prototype on Invision</a></div>

  <div class="blogtitle2">iOS app</div>
  <p>The iOS app uses many of the same visual elements to maintain consistency, but has some platform specific changes - for example, the Android top tab bars are scrapped in favor of the bottom navigation more commonly used in iOS. This ensures that the apps feel part of a cohesive family across Android, iOS and web, but also feel at home on their respective platforms.
</p><center><img src="/assets/img/bic-ios.png"></center>
<p><div class="invbtn"><a href="https://invis.io/H59JG4I82">view Prototype on Invision</a></div>
<p>
</div>
</div>

<div class="UItext">Other Projects</div>

<center>
  {% include 'hackindia-tile.html' %}
  {% include 'mova1-tile.html' %}
  {% include 'zomato-tile.html' %}
</center>
  {% include 'footer.html' %}
