{% include 'head.html' {
  page: "index"
}%}
<div class="header-fixed"><p><a href="index.html">Home</a> / <a href="delhidribbble.html">Delhi Dribbble</a></div>
  <div class="blogcontainer">
  <div class="blogtitle">New Delhi Dribbble meetup</div>
  <div class="blogsubtitle">10 May 2016</div>
  <div class="blogtxt">

    <br><center><img src="/assets/img/delhidribbble-meetup.png"></center>
  <div class="imgdesc">Check out the shot on <a href="https://dribbble.com/shots/2474738-Delhi-Dribbble-Meetup">Dribbble</a>.</div>

<p>
        <p>One day as I was on Dribbble, I stumbled upon their meetups section. I realised there hadn't been one in Delhi, so I decided to organise one.
      <br><center><img src="/assets/img/delhidribbble-1.jpg"></center>
    <div class="imgdesc">Meetup attendees at the India Habitat Centre, New Delhi.</div>

<p>We had 14 designers from various fields talk about their experiences with design, their processes, as well as tips they’ve picked up over the years.
      <br></p><center><img src="/assets/img/delhidribbble-2.jpg"></center>
      <div class="imgdesc">This looks interesting.</div>
      <p>Since this went pretty well, I plan on organising more designer meetups like this one. Join the Delhi Designers <a href="https://github.com/manu-chroma">Facebook group</a> to get updates about any future events</a>.
<p>

</div>
</div>
<div class="UItext">Other Projects</div>

<center>
  {% include 'teamsanskrit-tile.html' %}
  {% include 'brushlettering-tile.html' %}
  {% include 'icons-tile.html' %}
</center>
  {% include 'footer.html' %}
