{% include 'head.html' {
  page: "index"
}%}
<div class="header-fixed"><p><a href="index.html">Home</a> / <a href="hackindia.html">HackIndia</a></div>
  <div class="blogcontainer">
  <div class="blogtitle">HackIndia</div>
  <div class="blogsubtitle">10 May 2016&boxV; <a href="https://www.behance.net/gallery/32866191/Social-media-campaigns-for-HackIndia">See on Behance</a></div>
  <div class="blogtxt">

    <div class="blogtitle2">About HackIndia</div>
    <p>HackIndia was India's first large scale hackathon for students, organised by students. It brought together India's makers, designers, hackers and creators for a weekend of building cool things.
      <br></p><center><img src="/assets/img/hackindia-logo.png"></center>
      <div class="imgdesc">Check out the website at <a href="http://hackindia.io">www.hackindia.io</a></div>
        <div class="blogtitle2">Branding</div>
<p>As India's first student organised hackathon, the focus for the branding was the saffron and green from the Indian flag. The HackIndia wordmark also featured a flag over the i, which formed the centerpiece of the branding.
  <br></p><center><img src="/assets/img/hackindia-style-guide.png"></center>


      <div class="blogtitle2">Social media campaigns</div>
      <p>HackIndia took place at a time when hackathons were only just starting to catch on in India, and there were still a lot of negative connotations associated with "hacking". As a result, the branding was designed to look as friendly as possible, and a lot of effort was put into making people aware of the concept of hackathons.
        <br></p><center><img src="/assets/img/hackindia-who-is.jpg"></center>
        <div class="imgdesc">A personal attempt to defeat the brogrammer stereotype.</div>
<br></p><center><img src="/assets/img/hackindia-shs.jpg"></center>
<div class="imgdesc">Kids were signing up, so we kept things PG-13.</div>

<br></p><center><img src="/assets/img/hackindia-people.jpg"></center>
<div class="imgdesc">All of the social media posts were designed around the same template so they looked like a cohesive part of the design.</div>

<br></p><center><img src="/assets/img/hackindia-poster.jpg"></center>
<div class="imgdesc">Print poster for the event.</div>

<br></p><center><img src="/assets/img/hackasleep.png"></center>
<div class="imgdesc">My personal favorite : a graphic for an announcement about the nap area at the hackathon.</div>


<div class="blogtitle2">The Event</div>
<p>At HackIndia 2015, we brought together some of the nation’s best artists, designers, creators, inventors and leaders of tomorrow. It was a pretty successful event (some organisational mishaps aside) and everyone took away a lot from the event.
<p>
<center><iframe width="560" height="315" src="https://www.youtube.com/embed/hybsfnLjdck" frameborder="0" allowfullscreen></iframe></center>
</div>
</div>
<div class="UItext">Other Projects</div>

<center>
  {% include 'mova1-tile.html' %}
  {% include 'zomato-tile.html' %}
  {% include 'socialchess-tile.html' %}
</center>
  {% include 'footer.html' %}
