{% include 'head.html' {
  page: "index"
}%}

<div class="header-home2">
    <center>  <div id=dis class="zero">
Gyan Lakhwani
  </div> </center>
  <div class="subzero">
   <div class="navcont">
<DIV class="lbox-a"><a href=index.html>WORK</a></DIV>
<DIV class="cbox-i"><a href=personal.html>PERSONAL</a></DIV>
<DIV class="rbox-i"><a href=contact.html>CONTACT</a></DIV>
</div>
</div>
</div>

<center>
  {% include 'pmo-tile.html' %}
  {% include 'jobsplane-tile.html' %}
  {% include 'bic-tile.html' %}
  {% include 'hackindia-tile.html' %}
  {% include 'mova1-tile.html' %}
  {% include 'zomato-tile.html' %}
  {% include 'socialchess-tile.html' %}
  {% include 'ioteractions-tile.html' %}
  {% include 'richie-tile.html' %}

</center>

{% include 'foot.html' %}
