{% include 'head.html' {
  page: "index"
}%}
<div class="header-fixed"><p><a href="index.html">Home</a> / <a href="ioteractions.html">Ioteractions</a></div>
  <div class="blogcontainer">
  <div class="blogtitle">Ioteractions</div>
  <div class="blogsubtitle">10 May 2016</div>
  <div class="blogtxt">
    <div class="blogtitle2">About the project</div>
    <p>Ioteractions is an Internet of Things company that provides an IoT communication platform for smart devices. They needed a logo and identity that represented connectedness, and felt fresh and modern.
    <br><center><img src="/assets/img/ioteractions-logo.png"></center>
    <div class="imgdesc">The Ioteractions hexaon.</div>

<p> Since the startup was working on a number of different projects at the time, they also did not want to be boxed into a category and have to change their logo. The abstract hexagon allows for flexibility, and symbolifies connectedness.

        <br></p><center><img src="/assets/img/ioteractionscolors.png"></center>
      <div class="imgdesc">The color scheme is modern and fresh, and allows the branding to distinctly stand out.</div>

        <br></p><center><img src="/assets/img/ioteractions-card.png"></center>
        <div class="imgdesc">Business card design for Ioteractions.</div>

</div>
</div>
<div class="UItext">Other Projects</div>

<center>
  {% include 'richie-tile.html' %}
  {% include 'pmo-tile.html' %}
  {% include 'jobsplane-tile.html' %}
</center>
  {% include 'footer.html' %}
