{% include 'head.html' {
  page: "index"
}%}
<div class="header-fixed"><p><a href="index">Home</a> / <a href="lettuceparty">Lettuce Party</a></div>
  <div class="blogcontainer">
  <div class="blogtitle">Lettuce Party</div>
  <div class="blogsubtitle">9 February 2017 &boxV; <a href="https://github.com/gyanl/Lettuce-Party">View on GitHub</a></div>
  <div class="blogtxt">
<p>
  <p>While interning at Zomato from December 2016 - January 2017 (I’ve written about the experience <a href="zomato">here</a>), I worked on some illustrations for a Zomato iMessage sticker pack. I wanted a consistent look across the stickers, so I was manually lettering the accompanying text.
    <br></p><center><img style="width:360px; height:360px; @media only screen and (max-width: 768px) {width:100vw; height:100vw;}" src="/assets/img/lettuce.gif"></center><br>
    <div class="imgdesc">The original Lettuce Party sticker.</div>
<p>Since I quite liked how the lettering was coming out, I wanted to try making a font out of it. I looked up softwares for creating fonts, and came across <a href="https://birdfont.org/">BirdFont</a> — a free, open source font editor.
<p>BirdFont has a lot of weird quirks, but it has <i>some</i> documentation so it wasn’t too hard to play around with it to figure it out.
<br></p><center><img src="/assets/img/bf-lettuce.png"></center><br>
<div class="imgdesc">The BirdFont interface.</div>

<div class="blogtitle2">The result</div>
<br></p><center><img src="/assets/img/lettuce-specimen.png"></center><br>
<div class="imgdesc">Lettuce Party v0.1 - <a href="https://github.com/gyanl/Lettuce-Party/raw/master/Lettuce%20Party%20Regular.zip" download>Download now!</a></div>
<br></p><center><img src="/assets/img/lettuce-chat.png"></center><br>
<div class="imgdesc">It’s also pretty good for emoticons.</a></div>



<div class="blogtitle2">Notes</div>
<p>I wish I’d read up a little more about things I needed to keep in mind before I got started, because I created all my letters a lot smaller than I should have. This means the default line height is way too much. It can be fixed by using custom line heights, but it’s still not ideal.
<br></p><center><img src="/assets/img/lettuce-line.png"></center><br>
<div class="imgdesc">There doesn’t seem to be a way to set the line height for the font other than adjusting the size of the characters :(</div>
<p>If you liked Lettuce Party, you can download it <a href="https://github.com/gyanl/Lettuce-Party/raw/master/Lettuce%20Party%20Regular.zip" download>here</a>. If you have any suggestions, you can <a href="https://github.com/gyanl/Lettuce-Party/issues">file an issue</a> on GitHub or write to me at lettuceparty@gyanl.com.
<p>
  <p>
</div>
</div>

<div class="UItext">Other Projects</div>

<center>
  {% include 'ioteractions-tile.html' %}
  {% include 'richie-tile.html' %}
  {% include 'pmo-tile.html' %}
</center>
  {% include 'footer.html' %}
