{% include 'head.html' {
  page: "index"
}%}

{% include 'introblock.html' %}
<a id="projects"><p class="transparent">.</p></a>
<br>
  <div class="tagcont">
    <a href="index#projects"><div class="alltag">ALL</div></a>
    <a href="uiux#projects"><div class="alltag">UI/UX</div></a>
    <a href="branding#projects"><div class="alltag">BRANDING</div></a>
    <a href="graphics#projects"><div class="alltag">GRAPHICS</div></a>
    <a href="personal#projects"><div class="alltag-sel">PERSONAL</div></a>
    <a href="blog#projects"><div class="alltag">BLOG</div></a>
</div>
</div>
</div>

  <div class="cardcont">
  {% include 'brushlettering-tile.html' %}
  {% include 'delhidribbble-tile.html' %}
  {% include 'teamsanskrit-tile.html' %}
  {% include 'icons-tile.html' %}
  {% include 'lettuceparty-tile.html' %}

</div>
</center>

{% include 'footer.html' %}
