{% include 'head.html' {
  page: "index"
}%}
<div class="header-fixed"><p><a href="index.html">Home</a> / <a href="richie.html">Richie</a></div>
  <div class="blogcontainer">
  <div class="blogtitle">Richie</div>
  <div class="blogsubtitle">10 May 2016</div>
  <div class="blogtxt">
<p>Richie is a concept for a financial assistance bot I worked on for a hackathon. The idea was simple : keeping track of your money is hard, and Richie tries to be your friend who makes it easy for you. I also thought Richie could be expanded to offer investment advice, and be a one-stop shop for managing your money.
<p>While we eventually decided to build a Messenger bot because we didn't have enough time, here's how I had initially planned the the interactions for a standalone app.
      <br><center><img src="/assets/img/richie-screens-1.png"></center>
    <div class="imgdesc">Richie used a chat based interface to communicate with users. Instead of static onboarding screens, the onboarding takes place as a conversation between Richie and the user.</div>
      <br></p><center><img src="/assets/img/richie-screens-2.png"></center>
      <div class="imgdesc">Richie accepts textual input, and asks questions designed to get as specific an input from the user as possible. He also sends tappable suggestions for the user to ask, and messages from Richie appear as notifications just like a contact.</div>
        <br></p><center><img src="/assets/img/richie-screens-3.png"></center>
        <div class="imgdesc">Richie sends interactive graphs and charts to the user, and can alert the user when they are spending more than they can afford.</div>
<p>
</div>
</div>
<div class="UItext">Other Projects</div>

<center>
  {% include 'pmo-tile.html' %}
  {% include 'jobsplane-tile.html' %}
  {% include 'bic-tile.html' %}
</center>
  {% include 'foot.html' %}
