{% include 'head.html' {
  page: "index"
}%}
<div class="header-fixed"><p><a href="index.html">Home</a> / <a href="richie.html">Richie</a></div>
  <div class="blogcontainer">
  <div class="blogtitle">Richie</div>
  <div class="blogsubtitle">10 May 2016</div>
  <div class="blogtxt">
    <p>Richie is a concept for a financial assistance bot I worked on for a hackathon.
    <br><center><img src="/assets/img/richie-screens-1.png"></center>
    <div class="imgdesc">We can take advantage of the larger screen area on desktops and laptops to show multiple jobs at a time. On a phone-sized screen, however, this leads to an unpleasant, cluttered interface.</div>
      <br></p><center><img src="/assets/img/richie-screens-2.png"></center>
      <div class="imgdesc">We can take advantage of the larger screen area on desktops and laptops to show multiple jobs at a time. On a phone-sized screen, however, this leads to an unpleasant, cluttered interface.</div>
        <br></p><center><img src="/assets/img/richie-screens-3.png"></center>
        <div class="imgdesc">We can take advantage of the larger screen area on desktops and laptops to show multiple jobs at a time. On a phone-sized screen, however, this leads to an unpleasant, cluttered interface.</div>

</div>
</div>
<div class="UItext">Other Projects</div>

<center>
  {% include 'pmo-tile.html' %}
  {% include 'jobsplane-tile.html' %}
  {% include 'bic-tile.html' %}
</center>
  {% include 'foot.html' %}
