{% include 'head.html' {
  page: "index"
}%}
<div class="header-fixed"><p><a href="index.html">Home</a> / <a href="socialchess.html">Social Chess</a></div>
  <div class="blogcontainer">
  <div class="blogtitle">Social Chess</div>
  <div class="blogsubtitle">10 May 2016 &boxV; <a href="https://play.google.com/store/apps/details?id=com.zlaporta.chessgame&hl=en">Get it on Google Play</a></div>
  <div class="blogtxt">

  <div class="blogtitle2">About Social Chess</div>
  <p>Social chess is a chess app for Android that lets you play chess with your friends. It allows users to play real-time and correspondence games with players around the world.

<div class="blogtitle2">The Problem</div>
<p>Most chess apps use a very particular style of icons which have become the de-facto standard since they've been in use since the early days of computers. While this standardisation brings consistency to the experience, they aren't exactly the <i>best looking</i> icons.
<br></p><center><img src="/assets/img/chess-standard.png"></center><br>

<p>While designing the icons for the app, there were some very distinct goals in mind - the icons had to look good in small  squares, perform well across a range of android screen sizes and resolutions, and be clearly distinct from each other. There was another challenge as well - the black and white icons both had to look good on dark as well as light squares.
  <br></p><center><img src="/assets/img/chess-sketches.jpg"></center><br>
  <div class="imgdesc">Some early conceptual sketches.</div>

  <div class="blogtitle2">The Solution</div>
<p>The final icons were designed as vectors in Illustrator, and went through a series of refinements based on in-game testing. A white outline was added to the black shapes, and vice-versa to make sure the icons stood out on squares of both colors.
<br></p><center><img src="/assets/img/chess-pieces.png"></center><br>
<div class="imgdesc">The final iconset.</div>

<br></p><center><img src="/assets/img/chess-board.png"></center><br>
<div class="imgdesc">In use on a chessboard.</div>
      <div class="blogtitle2">App Icon</div>
      <p>The app icon is derived from the iconset designed for the game, and uses two chess pieces placed next to each other.
      <br></p><center><img src="/assets/img/chess-icon.png"></center>
      <div class="imgdesc">The knight and rook in two colors to signify opposing pieces.</div>
      <p>
</div>
</div>

<div class="UItext">Other Projects</div>

<center>
  {% include 'ioteractions-tile.html' %}
  {% include 'richie-tile.html' %}
  {% include 'pmo-tile.html' %}
</center>
  {% include 'foot.html' %}
